/* _footer.scss */
// TODO: MAKE IE 10+ GRID
.footer {
  padding: .5em;
  background: $primary-bg-dark;
    ul {
    list-style-type: none;
    > li {
      display: block;
      > a {
        text-decoration: none;
      }
    }
  }
  &__social-links {
    margin-bottom: 1em;
    > li {
      float: left;
      margin-right: .5em;
      > a {
        &:link, 
        &:visited,
        &:hover,
        &:focus,
        &:active {
          color: #fff;
        }
      }
    }
  }
  &__external-links {
    /*
    @include tablet {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: 1fr 1fr;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }*/
    > li {
      margin: .5em 0;
      /*
      @include tablet {
        &:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 2;
        }
        &:nth-child(3) {
          -ms-grid-row: 2;
          -ms-grid-column: 1;
        }
        &:nth-child(4) {
          -ms-grid-row: 2;
          -ms-grid-column: 2;
        }
        &:nth-child(5) {
          -ms-grid-row: 3;
          -ms-grid-column: 1;
        }
        &:nth-child(6) {
          -ms-grid-row: 3;
          -ms-grid-column: 2; 
        }
        &:nth-child(7) {
          -ms-grid-row: 4;
          -ms-grid-column: 1;
        }
        &:nth-child(8) {
          -ms-grid-row: 4;
          -ms-grid-column: 2;
        }
        @include desktop {
          &:nth-child(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
          }
          &:nth-child(3) {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
          }
          &:nth-child(4) {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
          }
          &:nth-child(5) {
            -ms-grid-row: 2;
            -ms-grid-column: 2;
          }
          &:nth-child(6) {
            -ms-grid-row: 2;
            -ms-grid-column: 3; 
          }
          &:nth-child(7) {
            -ms-grid-row: 3;
            -ms-grid-column: 1;
          }
          &:nth-child(8) {
            -ms-grid-row: 3;
            -ms-grid-column: 2;
          }
        }
      }*/
      > a {
        &:link, 
        &:visited {
          color: $nav-drawer-text-primary;
        }
        &:hover,
        &:focus,
        &:active {
          color: $nav-drawer-text-secondary;
        } 
      }
    }
  }
  &__internal-links {
    > li {
      margin: .5em 0;
      > a {
        &:link, 
        &:visited {
          color: #fff
        }
        &:hover,
        &:focus,
        &:active {
          color: $nav-drawer-text-secondary;
        } 
      }
    }
  }
  &__legal {
    margin-bottom: 0;
    > li {
      color: #c7c2bc;
      margin: .5em 0;
      > address {
        padding-right: 2em;
        font-style: inherit;
      }
      > a {
        color: #fff;
      }
      @include tablet {
        float: left;
      }
    }
    > li:nth-last-child(2) {
      @include desktop {
        clear: both;
      }
    }
  }
}

@supports (display: flex) {
  .footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    &__legal {
      display: flex;
      flex-flow: column;
      > li:last-child {
        @include tablet {
          margin-left: 0;
        }
      }
    }
  }
  .footer-flex {
    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 75%;
    }
  }
}