/* _variables.scss */
$primary-bg-dark: #002171;
$primary-bg: #0d47a1;
$primary-bg-light: #5472d3;

$nav-drawer-text-primary: #bbdefb;
$nav-drawer-text-secondary: #fff;
$nav-button-primary: #1565c0;
$nav-button-secondary: #e0ded9;

$search-btn-primary: #1565c0;
$search-btn-secondary: #fff;

$nav-drawer__list-bg-primary: #fff;
$nav-drawer__list-bg-secondary: #0d47a1;
$nav-drawer__list-text-primary: #3277ae;
$nav-drawer__list-text-secondary: #fff;
$nav-drawer__btn-arrow-primary: #fff;
$nav-drawer__btn-arrow-secondary: #777;

$tablet-width: 768px;
$desktop-width: 1000px;
$desktop-lg-width: 1350px;