/* _grid-news.scss */

/* NEWS.HTML
-------------------------------------------------- */
/* ACADEMIC AFFAIRS PREVIEW */
/* STUDENT SERVICES PREVIEW */
/* EVENTS PREVIEW */
.academic-affairs-preview__grid,
.student-services-preview__grid,
.events-preview__grid {
  @include tablet {
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  > figure {
    @include tablet {
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }
      &:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
      &:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
      }
      &:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }
      &:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2; 
      }
    }
  }
}

/* NEWS.HTML
-------------------------------------------------- */
/* NEWSLETTER PREVIEW */
.newsletter-preview__grid {
  @include tablet {
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  > article {
    @include tablet {
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2; 
      }
      &:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1; 
      } 
    }
    @include desktop {
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2; 
      }
      &:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3; 
      } 
    }
  }
  > article:nth-child(3) {
    @include tablet {
      position: relative;
      left: 50%;
    }
    @include desktop {
      position: static;
    }
  }
}

/* NEWSLETTER.HTML
-------------------------------------------------- */
.newsletter-grid {
  @include tablet {
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  > article {
    @include tablet {
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2; 
      }
      &:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1; 
      } 
      &:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2; 
      }
      &:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1; 
      }
      &:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2; 
      }
      &:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1; 
      }
      &:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2; 
      }
    }
  }
}