/* ACADEMIC-REGULATIONS.HTML
-------------------------------------------------- */
/* ACADEMIC-REGULATIONS OVERVIEW */
.academic-regulations-overview__grid {
  @include tablet {
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 1.75em;
  }
  @include desktop--lg {
    margin: 1.75em 8em;
  }
  > figure {
    @include tablet {
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }
      &:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
      &:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
      }
      &:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }
      &:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
      }
      &:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
      }
      &:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
      }
    }
  }
}

/* HEALTH-AND-COUNSELING.HTML
-------------------------------------------------- */
/* HEALTH-AND-COUNSELING OVERVIEW */
.health-and-counseling-overview__grid {
  @include tablet {
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 1.75em;
  }
  @include desktop--lg {
    margin: 1.75em 8em;
  }
  > figure {
    @include tablet {
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }
      &:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
    }
  }
}